ul {
    list-style-type: none;
    overflow: hidden;
}

li {
    float: right;
}

li a {
    color: #000000;
    display: block;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 14px;
    font-family: sans-serif;
}

li a:hover {
    text-decoration: underline;
}

.google_logo {
    margin-top: 200px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.google_form {
    margin: auto;
    width: 575px;
    height: 60px; 
}

.images_form {
    margin: auto;
    width: 575px;
    height: 60px;
}   

.form_input {
    font-size: 100%;
    font-family: sans-serif;
    margin:auto;
    width: 575px;
    height: 60px; 
    border-radius: 30px;
    border: 1px solid #dcdcdc;
    padding-left: 15px;
}

.form_input:hover {
    box-shadow: 1px 1px 8px 1px #dcdcdc;
}

.form_input:focus-within {
    box-shadow: 1px 1px 8px 1px #dcdcdc;
    outline: none;
}

.submit_buttons {
    margin-top: 20px;
    text-align: center;
}

.submit_button {
    background-color: auto;
    border: none;
    color: #707070;
    font-size: 15px;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 4px;
    outline: none;
}

.submit_button:hover {
    box-shadow: 1px 1px 8px 1px #dcdcdc;
}
.submit_button:focus {
    border: 1px solid #4885ed;
    padding: 9px 19px;
}

.field {
    font-family:sans-serif;
}

#field1 {
    width: 30%;
    display: inline;
    margin-left: 7%;
}

#field2 {
    width: 30%;
    display: inline;
    margin-left: 3.6%;
}

#field3 {
    width: 30%;
    display: inline;
    margin-left: 5.7%;
}

#field4 {
    width: 30%;
    display: inline;
    margin-left: 5.3%;
}

#field5 {
    width: 14%;
    display: inline;
    margin-left: 4.5%;
}

#field6 {
    width: 14%;
    display: inline;
}

.abuttons {
    margin-top: 40px;
    text-align: center;
}

#abutton {
    background-color: auto;
    border: none;
    color: #707070;
    font-size: 15px;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 4px;
    outline: none;
}

#abutton:hover {
    box-shadow: 1px 1px 8px 1px #dcdcdc;
}
#abutton:focus {
    border: 1px solid #4885ed;
    padding: 9px 19px;
}
