ul {
    list-style-type: none;
    overflow: hidden;
}

li {
    float: right;
}

li a {
    color: #000000;
    display: block;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 14px;
    font-family: sans-serif;
}

li a:hover {
    text-decoration: underline;
}

.google_logo {
    margin-top: 200px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.google_form {
    margin:auto;
    width: 575px;
    height: 60px; 
}

.form_input {
    font-size: 100%;
    font-family: sans-serif;
    margin:auto;
    width: 575px;
    height: 60px; 
    border-radius: 30px;
    border: 1px solid #dcdcdc;
    padding-left: 15px;
}

.form_input:hover {
    box-shadow: 1px 1px 8px 1px #dcdcdc;
}

.form_input:focus-within {
    box-shadow: 1px 1px 8px 1px #dcdcdc;
    outline: none;
}

.submit_buttons {
    margin-top: 30px;
    text-align: center;
}

.submit_button {
    background-color: auto;
    border: none;
    color: #707070;
    font-size: 15px;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 4px;
    outline: none;
}

.submit_button:hover {
    box-shadow: 1px 1px 8px 1px #dcdcdc;
}
.submit_button:focus {
    border: 1px solid #4885ed;
    padding: 9px 19px;
}